@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    src: url(Oleo+Script_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Oleo+Script_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Oleo+Script_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/oleoscript/v6/rax5HieDvtMOe0iICsUccChdu0k.woff */
        url(Oleo+Script_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/oleoscript/v6/rax5HieDvtMOe0iICsUccChdu0ry8zac.ttf */
        url(Oleo+Script_400_normal.svg#Oleo+Script_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=rax5HieDvtMOe0iICsUccChdu0g&skey=d18666d540079220&v=v6#OleoScript */
}
@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 700;
    src: url(Oleo+Script_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Oleo+Script_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Oleo+Script_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/oleoscript/v6/raxkHieDvtMOe0iICsUccCDmnlrf0T0.woff */
        url(Oleo+Script_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/oleoscript/v6/raxkHieDvtMOe0iICsUccCDmnlrf0T62Krfu.ttf */
        url(Oleo+Script_700_normal.svg#Oleo+Script_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Fauna One';
    font-style: normal;
    font-weight: 400;
    src: url(Fauna+One_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Fauna+One_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Fauna+One_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/faunaone/v5/wlpzgwTPBVpjpCuwkuEB3kZM.woff */
        url(Fauna+One_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/faunaone/v5/wlpzgwTPBVpjpCuwkuEB3kZPQipeCw.ttf */
        url(Fauna+One_400_normal.svg#Fauna+One_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=wlpzgwTPBVpjpCuwkuEB3kZN&skey=3137b8e8ee7f1c9e&v=v5#FaunaOne */
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url(Raleway_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Raleway_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Raleway_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPBg.woff */
        url(Raleway_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPBdqczVs.ttf */
        url(Raleway_300_normal.svg#Raleway_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(Raleway_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Raleway_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Raleway_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISQ.woff */
        url(Raleway_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISottDfA.ttf */
        url(Raleway_400_normal.svg#Raleway_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=1Ptug8zYS_SKggPNyC0ISA&skey=30a27f2564731c64&v=v12#Raleway */
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url(Raleway_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Raleway_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Raleway_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPBg.woff */
        url(Raleway_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPBdqczVs.ttf */
        url(Raleway_700_normal.svg#Raleway_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(Poppins_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff */
        url(Poppins_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlEN2JQEk.ttf */
        url(Poppins_300_normal.svg#Poppins_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(Poppins_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedA.woff */
        url(Poppins_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfed3FHGPc.ttf */
        url(Poppins_400_normal.svg#Poppins_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJfedQ&skey=87759fb096548f6d&v=v5#Poppins */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(Poppins_500_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_500_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff */
        url(Poppins_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlEN2JQEk.ttf */
        url(Poppins_500_normal.svg#Poppins_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(Poppins_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff */
        url(Poppins_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEN2JQEk.ttf */
        url(Poppins_600_normal.svg#Poppins_600_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(Poppins_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff */
        url(Poppins_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlEN2JQEk.ttf */
        url(Poppins_700_normal.svg#Poppins_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(Open+Sans_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Open+Sans_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Open+Sans_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0d.woff */
        url(Open+Sans_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0ef8pkAg.ttf */
        url(Open+Sans_400_normal.svg#Open+Sans_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=mem8YaGs126MiZpBA-UFVZ0c&skey=62c1cbfccc78b4b2&v=v15#OpenSans */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url(Open+Sans_800_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Open+Sans_800_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Open+Sans_800_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhv.woff */
        url(Open+Sans_800_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhsKKSTjw.ttf */
        url(Open+Sans_800_normal.svg#Open+Sans_800_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(Montserrat_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhzQ.woff */
        url(Montserrat_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhziTh89Y.ttf */
        url(Montserrat_400_normal.svg#Montserrat_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=JTUSjIg1_i6t8kCHKm459WlhzA&skey=7bc19f711c0de8f&v=v12#Montserrat */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(Montserrat_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff */
        url(Montserrat_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-_x3rCs.ttf */
        url(Montserrat_700_normal.svg#Montserrat_700_normal) format('svg'); /* {{svg-gf-url}} */
}
